//COLORS
$colors: (
    negro: black,
    blanco: white,
    beige: #b39975,
    desert-hover: #D6BD9A,
    carbon: #323232,
    btn-reserva: #66c20a,
    hover_btn-reserva: #d4bb19,
    gris: #333,
);